{% load i18n %}
{% load static %}

{% block subject %}
{% blocktrans %}Activate your Reach account!{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}{% endblocktrans %}

{% trans "Please go to the following page to activate account and chat to the hottest influencers:" %}
http://localhost:3000/activate_profile

{% trans "Thanks for using our site!" %}
<img src="{{ request.get_host }}{% static 'Reach_Logo.png' %}"/>
{ trans }
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
{% blocktrans %}

<p>Hello, hotshot. You're receiving this email because you need to finish your activation process on Reach. </p>{% endblocktrans %}

<p>{% trans "Please go to the following page to activate account and chat to the hottest influencers:" %}</p>
<p><a href="http://localhost:3000/activate_profile">http://localhost:3000/activate_profile</a></p>

<p>{% trans "Thanks for using our site!" %}</p>
<img src="{{ request.get_host }}/{% static 'Reach_Logo.png' %}"/>

<p>{% blocktrans %}The Reach team{% endblocktrans %}</p>

{% endblock html_body %}
