{% extends 'rango/base.html' %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}
<div class="hero-unit">
<form id="page_form" method="post" action="{% url 'social_reach:add_page' category.slug %}">

  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text}}
    {{ field }}
  {% endfor %}

<input type="submit" name="submit" value="Create Page" />
</form>
</div>

{% endblock %}
