{% extends "rango/base.html" %}
{% block title %}Profile{% endblock %}
{% block body_block %}
<div class="hero-unit">
{% if request.user.is_anonymous %}
<h2>User: {{ viewed_user.user.username }}
</h2>
{% else %}
<h2>Introducing... {{ viewed_user.user.username }}<br>
  <br>
<button id ="likes" data-userid="{{viewed_user.id}}" class="btn btn-mini btn-danger" type="button">Wink</button>
<span id = "likes-span">to like</span><span id = "greetings-or-span">, or </span> <button id ="greetings" data-userid="{{viewed_user.id}}" class="btn btn-mini btn-primary" type="button">Wave</button> <span id = "greetings-span">to say hi </span>
</h2>
{% endif %}
<br>
{% if greeted %}
<p><b>You've said hi to {{ viewed_user.user.username }} already!</b></p>
{% endif %}
{% if liked %}
<p><b>You like {{ viewed_user.user.username }}!</b></p>
{% endif %}
<p>Email: {{ viewed_user.user.email }}</p>
<p>Insta reach: {{ viewed_user.instagram_followers }}</p>
<p>Twitter reach: {{ viewed_user.twitter_followers }}</p>
<p>YouTube reach: {{ viewed_user.youtube_followers }}</p>
{% if viewed_user %}
<p>Website: <a href="{{ user.user.website }}">{{ viewed_user.user.website }}</a>
</p>
  <p>
<b id="like_count">{{ viewed_user.likes }}</b> of this site's users are interested, <b id="greet_count"> {{ viewed_user.greetings }} </b> said hi
</p>

{% endif %}

{% if viewed_user.picture %}
<img src="{{ viewed_user.picture.url }}" />
{% endif %}
</div>
{% endblock %}
