/* PAPER 'REACH" LOGO LETTERS START  */
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Raleway', sans-serif;
    ;
}
div.app-title{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 9vw;
  margin: 0.1em;
  position: relative;
  color: #2cbbad;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
/* PAPER 'REACH' LOGO LETTERS END */


/* NAVIGATION BAR START */
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 1.5vh 1.5vw;
        text-decoration: none;
    }

    li a:hover {
        background-color: #2cbbad;
        color: white;
    }

.nav-bar li a:hover:not(.active) {background-color: #2cbbad;}

.nav-barli a.active {background-color: #2cbbad;}

.nav-barli.right {float: right;}

@media screen and (max-width: 600px){
    .nav-barli.right,
    .nav-bar li {float: none;}
}
/* NAVIGATION BAR END */


.landing-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 7px;
  border-color: #2cbbad;

}

/* TAG LINE START */
.tag-line {
  text-align: center;
  font-size: 3vw;

}
/* TAGLINE END */




/* PROFILE INFO INPUT FORM START (REGISTRATION PAGE) */
.user-input-form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}
.user-input-form fieldset{
    border: none;
}
.user-input-form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.user-input-form label {
    display: block;
    margin-bottom: 8px;
}
.user-input-form input[type="text"],
.user-input-form input[type="password"],
.user-input-form input[type="date"],
.user-input-form input[type="datetime"],
.user-input-form input[type="email"],
.user-input-form input[type="number"],
.fuser-input-form input[type="search"],
.user-input-form input[type="time"],
.user-input-form input[type="url"],
.user-input-form textarea,
.user-input-form select {
    font-family: 'Raleway', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.user-input-form input[type="text"]:focus,
.user-input-form input[type="date"]:focus,
.user-input-form input[type="datetime"]:focus,
.user-input-form input[type="email"]:focus,
.user-input-form input[type="number"]:focus,
.user-input-form input[type="search"]:focus,
.user-input-form input[type="time"]:focus,
.user-input-form input[type="url"]:focus,
.user-input-form textarea:focus,
.user-input-form select:focus{
    background: #d2d9dd;
}
.user-input-form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.user-input-form .number {
    background: #2cbbad;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.user-input-form input[type="submit"],
.user-input-form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2cbbad;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.user-input-form input[type="submit"]:hover,
.user-input-form input[type="button"]:hover
{
    background: #109177;
}
/* PROFILE INFO INPUT FORM END */



/* PHOTO UPLOADER BUTTON START (REGISTRATION PAGE)*/
/*commented out below to make view on mobile not bad*/
/* html {
  margin: 30px;
} */
.flex_upload{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%


}

.photo_upload_container{

  width: 30%;
  height: 27vh;
  padding: none;
  border-radius: 25px;



}

.foto-upload {
    display: block;
     border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 100%;
    height: 27vh;
    margin: auto;
    cursor: pointer;
  justify-content: center;

     border-color: #2cbbad;
    border: 1%;
     flex: 1;
    outline: 0;

}
.foto-upload:hover:after {
    background: #f96585;
    color: white;

}
.foto-upload:after {
    transition: 200ms all ease;
     border-bottom: 3px solid rgba(0,0,0,.2);
    background: #2cbbad;
    text-shadow: 0 2px 0 rgba(0,0,0,.2);
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 27vh;
    display: block;
    content: 'Add an image';
    /* line-height: 60px; */
    border-radius: 25px;
     flex: 1;
}
/* PHOTO UPLOADER END (REGISTRATION PAGE) */

input[type="file"] {
    display: none;
}


.foto-upload-ready{
  display: block;
  font-family: 'Raleway', sans-serif;
  position: relative;
  width: 100%;
  height: 27vh;
  margin: none;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 1%;
  border-radius: 25px;
   border-style: solid;
   border-color: #2cbbad;
  outline: 0;
   flex: 1;

}

.foto-upload-ready:hover:after {
    background: #f96585;
    color: white;
}

.foto-upload-ready:after{
  transition: 200ms all ease;
  border-bottom: 3px solid rgba(0,0,0,.2);

  text-shadow: 0 2px 0 rgba(0,0,0,.2);
  color: white;
  font-size: 5vw;
  text-align: center;
  position: relative;
  /* content: 'image uploaded' */
  top: 0;
  left: 0;
  width: 100%;
  height: 27vh;
  display: block;
  line-height: 60px;
  border-radius: 25px;
   flex: 1;
   border-style: solid;

   border-color: #2cbbad;

}

.empty_slot_placeholder {
  transition: 200ms all ease;
  border-bottom: 3px solid rgba(0,0,0,.2);
   border-bottom: 3px solid rgba(0,0,0,.2);
  text-shadow: 0 2px 0 rgba(0,0,0,.2);
  color: white;
  font-size: 5vw;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 27vh;
  display: block;
  border-radius: 25px;
   flex: 1;
   border-style: dotted;
   border: 1%;
   border-color: #2cbbad;
  padding: none;
}

.overlay {
    position: relative;
    align-items: flex-end;
    top: -13vh;
    right: -5.5vw;
    width: 34%;
    text-align: center;
    color: white;
    font-size: 1.5vh;
    background-color: hsla(174, 62%, 45%, 0.8)
}



/* PUBLIC PROFILE (VIEW) PHOTO CAROUSEL START. NB: external css: flickity.css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: white;
}

.gallery-cell {
  width: 100%;
  height: 500px;
  margin: 5px;
  background: #2cbbad;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #2cbbad;
}
.flickity-prev-next-button.no-svg {
  color: #2cbbad;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #2cbbad;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
/* PROFILE (VIEWS) PHOTO CAROUSEL END */



/* PIE CHART REACH STYLE */

@import url(//fonts.googleapis.com/css?family=Oswald:400);
body {
  background: #222428;
}
.chart {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  &::after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}
.chart path:hover { opacity: 0.65; }

/*  PIE CHART ENDS */
/*Loading indicator */
@import "compass/css3";
.loader {
 width: 100px;
 height: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.loader > div {
 content: " ";
 width: 20px;
 height: 20px;
 background: #2196f3;
 border-radius: 100%;
 position: absolute;
 animation: shift 2s linear infinite;
}
.loader > div:nth-of-type(1) {
 animation-delay: -0.4s;
}
.loader > div:nth-of-type(2) {
 animation-delay: -0.8s;
}
.loader > div:nth-of-type(3) {
 animation-delay: -1.2s;
}
.loader > div:nth-of-type(4) {
 animation-delay: -1.6s;
}
@keyframes shift {
 0% {
   left: -60px;
   opacity: 0;
   background-color: white;
 }
 10% {
   left: 0;
   opacity: 1;
 }
 90% {
   left: 100px;
   opacity: 1;
 }
 100% {
   left: 160px;
   background-color: #2cbbad;
   opacity: 0;
 }
}
.info {
 position: absolute;
 bottom: 0;
 color: crimson;
}
.info .info-text {
 display: none;
}
.info input:checked + .info-text {
 display: block;
}



/* PUBLIC PROFILE PAGE START */
.public-profile {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}
.public-profile fieldset{
    border: none;
}
.public-profile legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.public-profile label {
    display: block;
    margin-bottom: 8px;
}
.public-profile input[type="text"],
.public-profile input[type="password"],
.public-profile input[type="date"],
.public-profile input[type="datetime"],
.public-profile input[type="email"],
.public-profile input[type="number"],
.public-profile input[type="search"],
.public-profile input[type="time"],
.public-profile input[type="url"],
.public-profile textarea,
.public-profile select {
    font-family: 'Raleway', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.public-profile input[type="text"]:focus,
.public-profile input[type="date"]:focus,
.public-profile input[type="datetime"]:focus,
.public-profile input[type="email"]:focus,
.public-profile input[type="number"]:focus,
.public-profile input[type="search"]:focus,
.public-profile input[type="time"]:focus,
.upublic-profile input[type="url"]:focus,
.public-profile textarea:focus,
.public-profile select:focus{
    background: #d2d9dd;
}
.public-profile select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.public-profile .number {
    background: #2cbbad;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.public-profile input[type="submit"],
.public-profile input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2cbbad;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.public-profile input[type="submit"]:hover,
.public-profile input[type="button"]:hover
{
    background: #109177;
}
/* PUBLIC PROFILE PAGE END */




/* PROFILE PAGE START */
.profile {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}
.profile fieldset{
    border: none;
}
.profile legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.profile label {
    display: block;
    margin-bottom: 8px;
}
.profile input[type="text"],
.profile input[type="password"],
.profile input[type="date"],
.profile input[type="datetime"],
.profile input[type="email"],
.profile input[type="number"],
.profile input[type="search"],
.profile input[type="time"],
.profile input[type="url"],
.profile textarea,
.profile select {
    font-family: 'Raleway', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.profile input[type="text"]:focus,
.profile input[type="date"]:focus,
.profile input[type="datetime"]:focus,
.profile input[type="email"]:focus,
.profile input[type="number"]:focus,
.profile input[type="search"]:focus,
.profile input[type="time"]:focus,
.profile input[type="url"]:focus,
.profile textarea:focus,
.profile select:focus{
    background: #d2d9dd;
}
.profile select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.profile .number {
    background: #2cbbad;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.profile input[type="submit"],
.profile input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2cbbad;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.profile input[type="submit"]:hover,
.profile input[type="button"]:hover
{
    background: #109177;
}
/* PUBLIC PROFILE PAGE END */



/* NEW REACTIVE PIECHART DISPLAY START  */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}


h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}
	a:hover {
		text-decoration: underline;
	}

	.scnd-font-color {
		color: black;
	}
.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}
		.block {
			margin: 25px 25px 0 0;
			background: #f4f7f8;
			border-radius: 5px;
      float: left;
      width: 300px;
      overflow: hidden;
		}

		.left-container {}
			.menu-box {
				height: 360px;
        align-items: center;
			}

			.donut-chart-block {
				overflow: hidden;
			}
				.donut-chart-block .titular {
					padding: 10px 0;
				}
				.os-percentages li {
					width: 75px;
					border: 1px solid white;
					text-align: center;
					background: #2cbbad
				}
					.os {
						margin: 0;
						padding: 10px 0 5px;
						font-size: 15px;
					}
						.os.twitter {
							border-top: 4px solid #e64c65;
						}
						.os.instagram {
							border-top: 4px solid #11a8ab;
						}
						.os.youtube {
							border-top: 4px solid #fcb150;
						}
						.os.facebook {
							border-top: 4px solid #4fc4f6;
						}
					.os-percentage {
						margin: 0;
						padding: 0 0 15px 10px;
						font-size: 25px;
					}

.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
p.center-date {
  background: #394264;
  color: #fff;
  position: absolute;
  text-align: center;
	font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}


p.os-percentage{
	color: #fff;
}
.center-date span.scnd-font-color {
 line-height: 0;
}
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
  }
.nota-final {
  clear: both;
  color: #4FC4F6;
  font-size: 1rem;
  padding: 2rem 0;
}
.nota-final strong {
  color: #E64C65;
}
.nota-final a {
  color: #FCB150;
  font-size: inherit;
}
/* NEW REACTIVE PIECHART DISPLAY END  */



/* NEW PROFILE IMAGE SLIDER START */

.slider-container{
  height: 350px;
  width: 350px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* left: 100%; */
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .50s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .50s ease-out;
}
/* NEW PROFILE IMAGE SLIDER END */
