/* PAPER 'REACH" LOGO LETTERS START  */
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Raleway', sans-serif;
    ;
}
div.app-title{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 9vw;
  margin: 0.1em;
  position: relative;
  color: #2cbbad;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
/* PAPER 'REACH' LOGO LETTERS END */


/* NAVIGATION BAR START */
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 1.5vh 1.5vw;
        text-decoration: none;
    }

    li a:hover {
        background-color: #2cbbad;
        color: white;
    }

.nav-bar li a:hover:not(.active) {background-color: #2cbbad;}

.nav-barli a.active {background-color: #2cbbad;}

.nav-barli.right {float: right;}

@media screen and (max-width: 600px){
    .nav-barli.right,
    .nav-bar li {float: none;}
}
/* NAVIGATION BAR END */


.landing-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 7px;
  border-color: #2cbbad;

}

/* HOME PAGETAG LINE START */
.tag-line {
  text-align: center;
  font-size: 3vw;
}
/* HOME PAGE TAGLINE END */


/* PROFILE INFO INPUT FORM START (REGISTRATION PAGE) */
.user-input-form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}
.user-input-form fieldset{
    border: none;
}
.user-input-form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.user-input-form label {
    display: block;
    margin-bottom: 8px;
}
.user-input-form input[type="text"],
.user-input-form input[type="password"],
.user-input-form input[type="date"],
.user-input-form input[type="datetime"],
.user-input-form input[type="email"],
.user-input-form input[type="number"],
.fuser-input-form input[type="search"],
.user-input-form input[type="time"],
.user-input-form input[type="url"],
.user-input-form textarea,
.user-input-form select {
    font-family: 'Raleway', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.user-input-form input[type="text"]:focus,
.user-input-form input[type="date"]:focus,
.user-input-form input[type="datetime"]:focus,
.user-input-form input[type="email"]:focus,
.user-input-form input[type="number"]:focus,
.user-input-form input[type="search"]:focus,
.user-input-form input[type="time"]:focus,
.user-input-form input[type="url"]:focus,
.user-input-form textarea:focus,
.user-input-form select:focus{
    background: #d2d9dd;
}
.user-input-form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.user-input-form .number {
    background: #2cbbad;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.user-input-form input[type="submit"],
.user-input-form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2cbbad;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.user-input-form input[type="submit"]:hover,
.user-input-form input[type="button"]:hover
{
    background: #109177;
}
/* PROFILE INFO INPUT FORM END */



/* PHOTO UPLOADER BUTTON START (REGISTRATION PAGE)*/
/*commented out below to make view on mobile not bad*/
/* html {
  margin: 30px;
} */
.flex_upload{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%
}
.photo_upload_container{

  width: 30%;
  height: 27vh;
  padding: none;
  border-radius: 25px;
}

.foto-upload {
    display: block;
     border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 100%;
    height: 27vh;
    margin: auto;
    cursor: pointer;
  justify-content: center;

     border-color: #2cbbad;
    border: 1%;
     flex: 1;
    outline: 0;

}
.foto-upload:hover:after {
    background: #f96585;
    color: white;

}
.foto-upload:after {
    transition: 200ms all ease;
     border-bottom: 3px solid rgba(0,0,0,.2);
    background: #2cbbad;
    text-shadow: 0 2px 0 rgba(0,0,0,.2);
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 27vh;
    display: block;
    content: 'Add an image';
    /* line-height: 60px; */
    border-radius: 25px;
     flex: 1;
}
/* PHOTO UPLOADER END (REGISTRATION PAGE) */

input[type="file"] {
    display: none;
}

.foto-upload-ready{
  display: block;
  font-family: 'Raleway', sans-serif;
  position: relative;
  width: 100%;
  height: 27vh;
  margin: none;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 1%;
  border-radius: 25px;
   border-style: solid;
   border-color: #2cbbad;
  outline: 0;
   flex: 1;
}

.foto-upload-ready:hover:after {
    background: #f96585;
    color: white;
}

.foto-upload-ready:after{
  transition: 200ms all ease;
  border-bottom: 3px solid rgba(0,0,0,.2);

  text-shadow: 0 2px 0 rgba(0,0,0,.2);
  color: white;
  font-size: 5vw;
  text-align: center;
  position: relative;
  /* content: 'image uploaded' */
  top: 0;
  left: 0;
  width: 100%;
  height: 27vh;
  display: block;
  line-height: 60px;
  border-radius: 25px;
   flex: 1;
   border-style: solid;
   border-color: #2cbbad;
}

.empty_slot_placeholder {
  transition: 200ms all ease;
  border-bottom: 3px solid rgba(0,0,0,.2);
   border-bottom: 3px solid rgba(0,0,0,.2);
  text-shadow: 0 2px 0 rgba(0,0,0,.2);
  color: white;
  font-size: 5vw;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 27vh;
  display: block;
  border-radius: 25px;
   flex: 1;
   border-style: dotted;
   border: 1%;
   border-color: #2cbbad;
  padding: none;
}

.overlay {
    position: relative;
    align-items: flex-end;
    top: -13vh;
    right: -5.5vw;
    width: 34%;
    text-align: center;
    color: white;
    font-size: 1.5vh;
    background-color: hsla(174, 62%, 45%, 0.8)
}
/*Photo Upload End*/



/* PUBLIC PROFILE PAGE START */
.public-profile {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}
.public-profile fieldset{
    border: none;
}
.public-profile legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.public-profile label {
    display: block;
    margin-bottom: 8px;
}
.public-profile input[type="text"],
.public-profile input[type="password"],
.public-profile input[type="date"],
.public-profile input[type="datetime"],
.public-profile input[type="email"],
.public-profile input[type="number"],
.public-profile input[type="search"],
.public-profile input[type="time"],
.public-profile input[type="url"],
.public-profile textarea,
.public-profile select {
    font-family: 'Raleway', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.public-profile input[type="text"]:focus,
.public-profile input[type="date"]:focus,
.public-profile input[type="datetime"]:focus,
.public-profile input[type="email"]:focus,
.public-profile input[type="number"]:focus,
.public-profile input[type="search"]:focus,
.public-profile input[type="time"]:focus,
.upublic-profile input[type="url"]:focus,
.public-profile textarea:focus,
.public-profile select:focus{
    background: #d2d9dd;
}
.public-profile select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.public-profile .number {
    background: #2cbbad;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.public-profile input[type="submit"],
.public-profile input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2cbbad;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.public-profile input[type="submit"]:hover,
.public-profile input[type="button"]:hover
{
    background: #109177;
}
/* PUBLIC PROFILE PAGE END */


/* TOTAL REACH HEADER START */
.total-reach {
  font-weight:600;
  font-size: 5vh;
  text-align: center;
  color: #2cbbad
  /* color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2cbbad, 0 0 30px #2cbbad, 0 0 40px #2cbbad, 0 0 55px #2cbbad, 0 0 75px #2cbbad; */
}
/* TOTAL REACH HEADER END */

/* DISTANCE FROM USER START */
.distance_from_user {
  font-weight: 200;
  font-size: 2.25vh;
  text-align: center;
  color: black;
}
/* DISTANCE FROM USER END */


/* PROFILE PAGE START */
.profile {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 2px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
}
.reach_table {
  display: table;
  margin: 0 auto;
}
.profile fieldset{
    border: none;
}
.profile legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.profile label {
    display: block;
    margin-bottom: 8px;
}
.profile input[type="text"],
.profile input[type="password"],
.profile input[type="date"],
.profile input[type="datetime"],
.profile input[type="email"],
.profile input[type="number"],
.profile input[type="search"],
.profile input[type="time"],
.profile input[type="url"],
.profile textarea,
.profile select {
    font-family: 'Raleway', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.profile input[type="text"]:focus,
.profile input[type="date"]:focus,
.profile input[type="datetime"]:focus,
.profile input[type="email"]:focus,
.profile input[type="number"]:focus,
.profile input[type="search"]:focus,
.profile input[type="time"]:focus,
.profile input[type="url"]:focus,
.profile textarea:focus,
.profile select:focus{
    background: #d2d9dd;
}
.profile select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.profile .number {
    background: #2cbbad;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.profile input[type="submit"],
.profile input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2cbbad;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.profile input[type="submit"]:hover,
.profile input[type="button"]:hover
{
    background: #109177;
}
/* PUBLIC PROFILE PAGE END */

/* Interests */
.interests{
  font-size: 4vh;
  align-content: center;
}

/* REACH STATS (%'s) INFOGRAHIC' START */
.scnd-font-color {
	color: white;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.os-percentages li {
	width: 75px;
	border: 1px solid white;
	text-align: center;
	background: #2cbbad;
  border-radius: 5px;
  display: inline;
  float: left;
}

.os {
	margin: 0;
	padding: 10px 0 5px;
	font-size: 15px;
	}
.os.twitter {
	border-bottom: 5px solid #0763f7;
}
.os.instagram {
	border-bottom: 5px solid #A529AF;
}
.os.youtube {
	border-bottom: 5px solid #F02621;
}
.os.facebook {
	border-bottom: 5px solid #000be0;
}
.os.snapchat {
	border-bottom: 5px solid yellow;
}
.os.spotify {
	border-bottom: 5px solid #62CC68;
}
	.os-percentage {
margin: 0;
	padding: 0 0 15px 10px;
font-size: 25px;
}

.reach-stats {
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/* REACH STATS (%'s) INFOGRAHIC' END */



/* HORIZONTAL / STACKED BAR START */
Stacked {
  width:  97%;
}
.stacked-bar-graph {
  width: 100%;
  height: 1vh;
  background: #eee;
  color:#414042;
}

  #stackedBarSpan {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
    color: #fff;
    font-weight: bold;
    font-family: arial, sans-serif;
    padding: 0px;
    overflow:hidden;
  }
/* NB: bar-1 is YouTube, bar-2 is Twitter, bar-3 is Instagram, ba4-4 is Facebook, bar-5 is Snapchat and bar-6 is Spotify */
  .bar-1 {
    background: #F02621;
  }

  .bar-2 {
    background: #0763f7;
  }

  .bar-3 {
    background: #A529AF;
  }

  .bar-4 {
    background: #000be0;
  }

  .bar-5 {
    background: yellow;
  }

  .bar-6 {
    background: #62CC68;
  }
/* HORIZONTAL / STACKED BAR END  */


/* NEW PROFILE IMAGE SLIDER/CAROUSEL START */
.slider-container {
  height: 450px;
  width: 450px;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.slider-menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}


.slider-menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: hsla(173, 62%, 45%, 0.4);;
  border-radius: 50px;
  margin: 0 .2em 1em;
  transition: 0.4s;
}

.slider-menu label:hover {
  background: hsla(173, 62%, 45%, 1.0);;
  transition: 0.4s
}
.slider:hover {
    background: #fff;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: .50s;

}


[id^="slide"]:checked + .slide {
  z-index: 100;
  transition: left .50s ease-out;


}
/* NEW PROFILE IMAGE SLIDER/CAROUSEL END */



/* YES OR NO BUTTONS (UNDER PROFILE IMAGES) START */
.buttonHolder{
  margin:80px auto;
  width:200px;
  justify-content: center;

}
		.button{
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 70px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 70px;
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}

		.button:after{
			color:#e9e6e4;
			content: "";
			display: block;
			font-size: 30px;
			height: 30px;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 30px;
		}

		.tick:after{
			content: "👍🏻";
			/* left:23px;
			top:20px; */
		}

		.cross:after{
			content: "👎🏻";
			/* left: 24px;
			top: 19px; */
		}

		.button:hover{
			background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
			background-image: linear-gradient(top, #fff, #f4f1ee);
			color:#0088cc;
		}

		.tick:hover:after{
			color:#83d244;
			text-shadow:0px 0px 6px #83d244;
		}

		.cross:hover:after{
			color:#eb2f2f;
			text-shadow:0px 0px 6px #eb2f2f;
		}



		.button:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

		.button:active:after{
			color:#dbd2d2;
			text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
		}
/* YES OR NO BUTTONS (UNDER PROFILE IMAGES) END */


/*  PULSING 'REACH CIRCLE' BEGINS HERE */


.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: white;
}
.pulsating-circle:before {
  content: "";
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 90px;
  /* background-color: #CC3333;     <- RED*/
  background-color: #2cbbad;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #993333;
  /* background: url('/images/app_images/Reach_Logo.png') no-repeat;  <- RED Logo*/
  background: url('/images/app_images/update1.png') no-repeat;
  background-size:cover;
  border-radius: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
/* PULSING REACH CIRCLE ENDS HERE */



/* EMOJI TOGGLES (ON SETTINGS PAGE) START */
.emoji-toggle {
  position: relative;
  width: 60px;
  margin: 40px auto;
}
.emoji-toggle .well {
  display: block;
  background: #eee;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.emoji-toggle .toggle {
  opacity: 0;
  border: 0;
  outline: none;
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.emoji-toggle .toggle ~ .emoji:before {
  content: "\01F431";
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 40px;
  transition: 0.2s;
}
.emoji-toggle .toggle:checked ~ .emoji:before {
  left: 100%;
  margin-left: -1em;
}
.emoji-toggle .toggle ~ label {
  white-space: nowrap;
}
.emoji-toggle .toggle ~ label:before {
  position: absolute;
  right: 100%;
  margin-right: 5px;
  top: 0;
}
.emoji-toggle .toggle ~ label:after {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 0;
}
.emoji-diet .toggle ~ .emoji:before {
  content: "\1F355";
}
.emoji-diet .toggle:checked ~ .emoji:before {
  content: "\1f959";
}
.emoji-diet .toggle ~ label:before {
  content: "non-vegan";
}
.emoji-diet .toggle ~ label:after {
  content: "vegan";
}
.emoji-lifestyle .toggle ~ .emoji:before {
  content: "\1F6AC";
}
.emoji-lifestyle .toggle:checked ~ .emoji:before {
  content: "\1F6AD";
}
.emoji-lifestyle .toggle ~ label:before {
  content: "smoker";
}
.emoji-lifestyle .toggle ~ label:after {
  content: "non-smoker";
}
.emoji-passtime .toggle ~ .emoji:before {
  content: "\1F4AA";
}
.emoji-passtime .toggle:checked ~ .emoji:before {
  content: "\1F9D8";
}
.emoji-passtime .toggle ~ label:before {
  content: "gym-goer";
}
.emoji-passtime .toggle ~ label:after {
  content: "chilled";
}
.emoji-rate .toggle ~ .emoji:before {
  content: "\1F47C";
}
.emoji-rate .toggle:checked ~ .emoji:before {
  content: "\1F645";
}
.emoji-rate .toggle ~ label:before {
  content: "have kids";
}
.emoji-rate .toggle ~ label:after {
  content: "nope";
}
/* EMOJI TOGGLES (ON SETTINGS PAGE) START */


/* THREE TOGGLE SELECTOR (SETTINGS PAGE) START */
.wrapper {
  width: 12rem;
  height: 4rem;
  position: relative;
  margin: 2rem auto;
  border-radius: 2rem;
  background: #2cbbad;
}
.wrapper .toggle {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 3.6rem;
  top: -0.4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.1rem solid #ff6c00;
  background: #ff8933;
  box-shadow: 0 0 0.2rem 0.1rem #ff6c00 inset, 0 0 0.2rem 0.1rem #ff6c00;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper label {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  display: inline-block;
  text-align: center;
  line-height: 4rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  -webkit-animation: 3s rot-label ease-in-out infinite;
  -moz-animation: 3s rot-label ease-in-out infinite;
  -o-animation: 3s rot-label ease-in-out infinite;
  animation: 3s rot-label ease-in-out infinite;
}
.wrapper input {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* 'Yes'/green option  */
#yes_radio:checked {
  background: red;
}
#yes_radio:checked ~ .toggle {
  border: 0.1rem solid #008000;
  background: #00b300;
  box-shadow: 0 0 0.2rem 0.1rem #008000 inset, 0 0 0.2rem 0.1rem #008000;
  left: -0.4rem;
}
/* 'No'/red option */
#no_radio:checked {
  background: red;
}
#no_radio:checked ~ .toggle {
  border: 0.1rem solid #ff0000;
  background: #ff3333;
  box-shadow: 0 0 0.2rem 0.1rem #ff0000 inset, 0 0 0.2rem 0.1rem #ff0000;
  left: 7.6rem;
}
/* middle option */
#maybe_radio, #maybe-lbl {
  left: 33.3333333333%;
}

#no_radio, #no-lbl {
  left: 66.6666666667%;
}

#maybe-lbl {
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

#no-lbl {
  -webkit-animation-delay: 4s;
  -o-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}
/* THREE TOGGLE SELECTOR (SETTINGS PAGE) END */


/* GENDER SLIDER/RANGE INPUT START */

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #2cbbad;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #2cbbad;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #2cbbad;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}


input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
/* GENDER SLIDER/RANGE INPUT START */

/* THREE TOGGLE SELECTOR (SETTINGS PAGE) END */


/*Loading indicator */
@import "compass/css3";
.loader {
 width: 100px;
 height: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.loader > div {
 content: " ";
 width: 20px;
 height: 20px;
 background: #2196f3;
 border-radius: 100%;
 position: absolute;
 animation: shift 2s linear infinite;
}
.loader > div:nth-of-type(1) {
 animation-delay: -0.4s;
}
.loader > div:nth-of-type(2) {
 animation-delay: -0.8s;
}
.loader > div:nth-of-type(3) {
 animation-delay: -1.2s;
}
.loader > div:nth-of-type(4) {
 animation-delay: -1.6s;
}
@keyframes shift {
 0% {
   left: -60px;
   opacity: 0;
   background-color: white;
 }
 10% {
   left: 0;
   opacity: 1;
 }
 90% {
   left: 100px;
   opacity: 1;
 }
 100% {
   left: 160px;
   background-color: #2cbbad;
   opacity: 0;
 }
}
.info {
 position: absolute;
 bottom: 0;
 color: crimson;
}
.info .info-text {
 display: none;
}
.info input:checked + .info-text {
 display: block;
}

/* REGISTRATION LOADER ENDS */


/* SWIPE DECK START */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.demo {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 36rem;
  height: 80rem;
  margin-left: -18rem;
  margin-top: 0rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.demo__header {
  height: 0rem;
  background: #2cbbad;
}
.demo__content {
  overflow: visible;
  position: relative;
  height: 48rem;
  padding-top: 0.25rem;
  user-select: none;
}
.demo__card-cont {
  position: relative;
  width: 30rem;
  height: 32rem;
  margin: 0 auto 0.5rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
}
.demo__card.reset {
  transition: transform 0.3s;
  transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: transform 0.3s;
}
.demo__card.to-left {
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 20.5rem;
  padding-top: 4rem;
}
/* .demo__card__top.purple {
  background: #7132b9;
}
.demo__card__top.blue {
  background: #248cb6;
}
.demo__card__top.indigo {
  background: #303f9f;
}
.demo__card__top.cyan {
  background: #26c6da;
}
.demo__card__top.lime {
  background: #afb42b;
} */
.demo__card__top
 {
  background: white;
}
.demo__card__img {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  /* background-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg'); */
  /* background-size: cover; */
}
.demo__card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.demo__card__btm {
  height: 11.5rem;
  background: #fff;
}
.demo__card__we {
  text-align: center;
  font-size: 2.2rem;
  line-height: 11.5rem;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

}
.demo__card__choice.m--reject {
  background: red;
}
.demo__card__choice.m--like {
  background: green;
}
.demo__card__choice.m--like:after {
  transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
}
/* SWIPE DECK END */


/* LOADING/SEARCHING LOGO PULSE CIRCLE (START) */

@import url("https://fonts.googleapis.com/css?family=Reem+Kufi");
.circles {
  width: 100%;
  position: relative;
  height:500px;
}
.circles img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: solid 3px #fff;
}

.circle1,
.circle2 {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid #02c6c7;
  background-color: #02c6c7;
  transform: translateX(-50%) translateY(-50%);
  animation: pulsate 3s infinite;
}

.circle2 {
  animation: pulsate 3s -0.5s infinite;
}

@keyframes pulsate {
  0%, 100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  99.999% {
    width: 350px;
    height: 350px;
    opacity: 0;
  }
}
/* LOADING/SEARCHING LOGO PULSE CIRCLE (END) */


/*  USER SECTION START */

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.user_card{
justify-content: center;
}

.snip1344 {
  font-family: 'Open Sans', Arial, sans-serif;
  /* position: absolute; */
  justify-content: center;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
}
.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 250px;
  opacity: 1;
  box-shadow: 3px 3px 20px #2cbbad;
  border: 0.5px #2cbbad;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.snip1344 h3 {
  margin: 0 0 5px;
  color: black;
  font-weight: 400;
}
.snip1344 h3 span {
  display: block;
  font-size: 0.70em;
  color: black;
}
.snip1344 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}
.snip1344 a {
  text-decoration: none;
}
.snip1344 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.usericons {
  text-align: center;
  /* margin: 3vh; */
  cursor: pointer;
  float:none;
  padding: 3vw;
  display: flex;
   align-items: stretch; /* Default */
   justify-content: center;
   background: white;
   padding: 0;

}

.li {
    display: inline-block;
    flex:auto;
    list-style-type: none;
    background: white;
    padding: 3vw;

}


.userbutton:hover {
  background-color: #2cbbad;
  color: white;
  animation: pulse 1s;
  /* animation: bounce 1s; */
  border-radius: 10px;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
/* @keyframes bounce {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
} */
/*  USER SECTION END */
