{% extends 'reach/base.html' %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1>Reach - 'Know your place'</h1>
<p>Find, like and chat to influential people just like you.</p>
</div>
<div class="row-fluid">
<div class="span6">
<h2>Check out our users!</h2>
{% if users %}
  {% for user in users %}
  <p><img src="{{ user.user.picture }}"/>
<a href="{% url 'social_reach:show_user' user.user.username %}">{{ user.user.username }}</a>
</p>
{% endfor %}
{% else %}
<strong>No users at present.</strong>
{% endif %}
</div>
<!--/span-->
<div class="span6">
<h2>Top photos</h2>
{% if most_viewed_pages %}
<ul>
{% for page in most_viewed_pages %}
<li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))</li>
{% endfor %}
</ul>
{% else %}
<strong>No pages at present.</strong>
{% endif %}
</div>
<!--/span-->
</div>
<!--/row-->
{% endblock %}
