{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Check out your matches, {{request.user}}</h1>
    <p>This is the matches page - you are on visit number {{ visits }} </p>

    {% if not matches_you_first %}
    {% if not matches_them_first %}
    <h3>No matches yet - you'll just have to increase your &copy;Reach!</h3>
    {% endif %}
    {% endif %}

    {% if matches_them_first %}
    {% for match in matches_them_first %}
    <p><strong>{{match.first_user.user.username}}</strong></p>
    <p>Insta Reach: {{match.first_user.instagram_followers}}</p>
    {% if match.first_user.picture %}
      <img src="{{match.first_user.picture.url}}"/>
      {% endif %}
      <br>
{% endfor %}
{% endif %}
<br>
{% if matches_you_first %}
{% for match in matches_you_first %}
<p><strong>{{match.second_user.user.username}}</strong></p>
<p>Insta Reach: {{match.second_user.instagram_followers}}</p>
{% if match.second_user.picture %}
  <img src="{{match.second_user.picture.url}}"/>
  {% endif %}
  <br>
{% endfor %}
{% endif %}

    </div>
{% endblock %}
