{% load i18n %}

{% block subject %}
{% blocktrans %}Resetting your Reach password{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your Reach account.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url }}
{% trans "Your username:" %} {{ user.get_username }}

{% trans "Thanks for using our app!" %}

{% blocktrans %}The Reach team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your Reach account.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="http://localhost:3000/reset_password/{{uid}}/{{token}}">http://localhost:3000/reset_password/{{uid}}/{{token}}</a>
<p>{% trans "Your username:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using our app!" %}</p>

<p>{% blocktrans %}The Reach team{% endblocktrans %}</p>
{% endblock html_body %}
