{% extends "rango/base.html" %}
{% block title %}Profile{% endblock %}
{% block body_block %}
<div class="hero-unit">
<h1> Your Profile <h1> <br/>
<h2>{{ user.username }}</h2>
<p>Email: {{ user.email }}</p>
{% if userprofile %}
<p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a>
˓→</p>
<p>Instagram: {{userprofile.instagram_followers}}</p>
<p>Twitter: {{userprofile.twitter_followers}}</p>
<p>YouTube: {{userprofile.youtube_followers}}</p>
<br/>
{% if userprofile.picture %}
<img src="{{ userprofile.picture.url }}" />
{% endif %}
{% endif %}
</div>
{% endblock %}
